/* Main Background */
.app-2CXKsg {
    background-image: url(https://github.com/SourceGoose/.github/blob/main/profile/finelogo/sg-peg.png?raw=true);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}