/**
 * @name SourceGoose
 * @author jfouryeah12
 * @description SourceGoose Theme
 * @version 1.0.6
 * @source https://github.com/jfouryeah12/theme
 */

 @import url('https://fonts.googleapis.com/css2?family=Rajdhani');
 @import url('https://raw.githubusercontent.com/jfouryeah12/theme/main/base.css');
 
 
 :root {
     --background-image: url(https://github.com/SourceGoose/.github/blob/main/profile/finelogo/sg-peg.png?raw=true);
     --home-image: url('https://raw.githubusercontent.com/SourceGoose/.github/main/profile/finelogo/sg-web-icon.ico');
     --background-solid: #161921;
     --background-solid-dark: #101218;
     --background-solid-darker: #0c0e12;
     --accent: 37, 172, 232;
     --accent-alt: 29, 101, 134;
 }
